body {
  background-color: #FFE1E5; }

h1 {
  font-size: 1rem; }

footer div {
  display: flex;
  justify-content: center;
  align-items: center; }

header nav {
  background-color: #FEF5F4;
  width: 100%; }

.nav-link {
  text-decoration: none;
  color: #D1A9DD; }

main div .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 43vh; }

main div div .lado {
  display: flex;
  justify-content: center;
  align-items: center; }

main div div .c-img {
  position: absolute;
  width: 100%;
  z-index: 0;
  overflow: hidden; }

main div div .c-img img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

main div div .txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: #000000; }

main div div div h1 {
  font-size: 2rem; }

main div div div button {
  margin-top: 2rem; }

main div div h2 {
  font-size: 1.5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media only screen and (max-width: 600px) {
  main div div div img {
    display: none; } }
