@import "utilidades/variables";
@import "utilidades/header";
@import "utilidades/main";
@import "utilidades/contact";
@import "utilidades/services";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  main {
    .none {
      display: none;
    }
    .miswebos {
      text-align: center;
    }
    .nosebro {
      font-size: 1.8rem;
    }
    .grilla {
      @include flex-col-center;
    }
    .cont-hist {
      align-items: center;
      max-width: 100%;
      margin: 0;
      padding: 0;
      grid-template-areas: "conthist2 conthist2";
      .cont-hist2 {
        text-align: center;
        grid-area: conthist2;
      }
      .img-hist {
        img {
          display: none;
        }
      }
    }
    section {
      .todo {
        flex-direction: column;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    .miswebos {
      text-align: center;
      @include flex-col-center;
      .box {
        padding: 1em;
        border-radius: 15px;
        background-color: #c5aac931;
        width: 75%;
        margin: 1em;
        box-shadow: 15px 10px 10px rgba(20, 2, 2, 0.623);
      }
    }
    .none {
      display: none;
    }
    .grilla {
      @include flex-col-center;
      .box2 {
        border-radius: 75%;
        box-shadow: 2px 2px 2px black;
        padding: 1em;
      }
    }
    div {
      .contenedor {
        height: fit-content;
        padding: 2em;
      }
    }
  }
}
footer div {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid rgb(219, 211, 226);
  p {
    padding: 0.5rem;
    margin-top: 0.3rem;
  }
}
h1 {
  font-size: 3rem;
}
/* section{
    margin-top:4rem;
    form{
        @include flex-center;
        font-weight: bold;
        legend{
            font-weight: bold;
        }
        input{
            border-radius: 1rem;
        }
        div{
            margin-top: 1rem;;
            button{
                padding: 0.5rem;
                border-radius: 1.5rem;
                background-color: black;
                color:beige;
                margin-left: 7.5rem;
                margin-top: 2rem;
                font-weight: bold;
            }
        }
    }
} */
