@import "utilidades/variables";
@import "utilidades/header";
@import "utilidades/main";
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
@media only screen and (max-width: 768px){
   
    .none{
        display: none;
    }
    main{
        .cont-hist{
            align-items: center;
            max-width: 100%;
            margin: 0;
            padding: 0;
            grid-template-areas: "conthist2 conthist2";
            .cont-hist2{
                max-width: 100%; 
                align-items: start;
                padding: 2rem;
            }
            .img-hist{
                img{
                    display: none;
                }
            }
        }
        section{
            .todo{
                flex-direction: column;
            }
        }
    }
    
}
footer div{
    width: 100%;
    margin-top: 1rem;
    border: 1px solid rgb(219, 211, 226);
    p{
        padding: 0.5rem;
        margin-top: 0.3rem;
    }
}
h1 { 
    font-size: 3rem;
}
section{
    margin-top:4rem;
    form{
        @include flex-center;
        font-weight: bold;
        legend{
            font-weight: bold;
        }
        input{
            border-radius: 1rem;
        }
        div{
            margin-top: 1rem;;
            button{
                padding: 0.5rem;
                border-radius: 1.5rem;
                background-color: black;
                color:beige;
                margin-left: 7.5rem;
                margin-top: 2rem;
                font-weight: bold;
            }
        }
    }
}