
main{
    section{
        .text-p-proy{
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2.5rem;
        }
        .cont-cajas{
            width: 256px;
            align-items: center;
            @include flex-col-center;
            .imgproy img{
                
                border-radius: 8rem;
            }
            .textproy{
               
                @include flex-center;
                h3{ 
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                p{
                    margin: 0.1rem;
                }
            }
            
        }
        .cont-princ{
            @include flex-center;
            flex-wrap:wrap;
            gap: 3rem;
        }
    }
    div{ //primer div contenedor e historia
        .contenedor { // 1
            @include flex-center;
            position: relative;
            height: 43vh;
           //mixin
          }
        
          div{// contenedores content 
               
            .c-img { // contenedor de imagen (1)
                position: absolute;
                width: 100%;
                z-index: 0;
                overflow:hidden;
              }
            
            .c-img img { // 1.2
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .txt { // 1.1, clase contenedor
                @include flex-center;
                text-align: center;
                z-index: 1;
                color: #000000;
              }
            .imagen img {
                width: 100%;
                height: auto;
              }
            div{ //div banner 
                
                h1{ // 1.1 dentro
                    font-size: 2rem;
                }
                @include flex-col-center;
                p{
                    font-size: 1rem;
                    margin-top: 2rem;
                }
                }
            h2{ // 2.1.1, texto 2da seccion
                font-size: 1.5rem;
            }
            button{
                background-color: rgb(0, 0, 0);
                border-radius: 1rem;
                color:beige;
                padding: 0.5rem;
                font-weight: bold;
            }
        }
    }
    .cont-hist{ 
        background-color:#FEF5F4 ;           
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 1.5rem;
        align-items: center;
        h1{
            text-align:center;
            margin-bottom: 5rem;
        }
//arreglar grilla para que use las 2 columnas y asi se alineen
    .cont-hist2{
        text-align: center;
        margin: 1rem;
    }
    .img-hist{
        display: flex;
        align-items: center;
        img{
            max-width: 100%; 
            height: auto;  
        }
    }
    
    }
    
}
main{
    .nosebro{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .grilla{
        margin-top: 7rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items:center;
        align-items:start;
        object-fit: cover;
        row-gap: 0.3rem;
        column-gap: 3rem;    
        div{
           p{
            margin-top:2rem;
            font-size: 1.5rem;
           }
        }
    }
}
.align{
    div{ 
        @include flex-center;
        gap: 2rem;
        .cont{
            @include flex-col-center;
        }
    }
}