$color-principal: #FFE1E5;
@mixin grid-mq{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    justify-items: center;
    object-fit: cover;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color:$color-principal;
}
h1{
    font-size: 1rem;
}
footer div{
    @include flex-center;
}
